/* ========
    TABLE OF CONTENT
=========== */
/* 

1. GLOBAL SELECTOR
2. LAYOUT
3. Inside the header
4.  Main typography
    -- within eth info
    -- within cont footer





 */




/* ========
 1.    GLOBAL SELECTOR
=========== */
body{
    background: hsl(217, 54%, 11%);
}



/*========= 
 2.   LAYOUT
============ */
.container{
    background: hsl(216, 50%, 16%);
    font-size: 18px;
    padding: 20px;
    width: 300px;
    /* border: 2px solid   hsl(178, 100%, 50%); */
    margin:200px auto 0px;
    border-radius: 15px;
}
footer{
    margin-top: 30px;
}







/*========= 
 3.  INSIDE THE HEADER
============ */
.main-img{
    border-radius: 10px;
    background-size: cover;
    width: 300px;
    height: 310px;
    background-image:url(images/image-equilibrium.jpg) ;
}
.modal{
    display: none;
}
.modal-img{
    display: none;
}

.main-img:active .modal {
    border-radius: 10px;
    display: flex;
    height: 100%;
    border: 1px solid rgba(0, 255, 247, 0.705);
    width: 100%;
    background-color: rgba(0, 255, 247, 0.705);
    display: block;
}
.main-img:active .modal > .modal-img{
    background-image: url(images/icon-view.svg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 100px auto 0px;
    display: block;
}










/*========= 
 4. MAIN  TYPOGRAPHY
============ */
.white{
    margin-top: 25px;
    font-size: 20px;
    font-weight:600px;
    color: hsl(0, 0%, 100%);
}
.white:active{
    color: rgb(0, 255, 247);
}
.para{
    font-size: 18px;
    width: 300px;
    color:  hsl(215, 51%, 70%);
}
.eth-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid hsl(215, 32%, 27%);
}
    /*========= 
 --  WITHIN ETH INFO
    ============ */
    .price{
        color:  hsl(178, 100%, 50%);
    }
    .time{
        color:  hsl(215, 51%, 70%);
    }

.cont-footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
    /*========= 
  WITHIN CONT FOOTER
    ============ */
    .pic{
        border: 3px solid hsl(0, 0%, 100%);
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }
    .con-foot-p{
        color:  hsl(215, 51%, 70%);
    margin-left: 15px;
    }
    .con-foot-color{
        color: hsl(0, 0%, 100%);
    }
    .con-foot-color:active{
        color:  hsl(178, 100%, 50%);
        
    }







